<html>
<head>
  <title> <%= @title %> </title>
  <%= stylesheet_link_tag "registers" %>
</head>
<body>
 
<!-- ------------------------------------------------------------------ -->
	
  	<% if flash[:notice] %>
          <div id="notice"><%= flash[:notice] %></div>
    <% end %>
   <div id="formdiv">
      <%= yield %>
   </div>
 
</div>
<!-- ------------------------------------------------------------------ -->
 
</body>
</html>